<!-- <div class="alert alert-success">
  Bonjour Frere
</div>




<p>
  Bonjour {{title}}
<i class="fa-regular fa-face-smile fa-beat-fade">a</i>
</p>
<app-child-a></app-child-a>
<app-child-b></app-child-b>



<div [hidden]="show" [style.backgroundColor]=bgColor>
  Binding
</div>

<button class="btn btn-danger" (click)="ChangeStatus()">Allumer/Eteindre</button>

<app-color></app-color> -->



<!-- <app-cv></app-cv> -->

<app-form></app-form>
<!-- <app-style></app-style> -->

<!-- <app-class></app-class> -->