<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TP1</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="Form()"
          >Form <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="ViewCvs()">View Cv</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="Rainbowfunc()">Rainbow</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="miniWordfunc()">Mini-Word</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="changeColor()">Color</a>
      </li>
    </ul>
  </div>
</nav>
<br />
<app-cv *ngIf="ViewCv"></app-cv>

<app-form *ngIf="ViewForm" (addPersonne)="addCv($event)"></app-form>

<app-class *ngIf="rainbow"></app-class>

<app-mini-word *ngIf="miniWord"></app-mini-word>

<app-color *ngIf="Color"></app-color>
<router-outlet></router-outlet>